@import './variables';

@mixin centered($column: false) {
  display: flex;
  align-items: center;
  justify-content: center;

  @if($column) {
  	flex-direction: column;
  }
}

@mixin expanded {
  height: 100%;
  width: 100%;
}

@mixin square($size: $grid-base-2x) {
  height: $size;
  width: $size;
}

@mixin circle($size: $grid-base-2x) {
  @include square($size);
  border-radius: 50%;
}
