// Layout Properties
$grid-base:						4px;
$grid-base-1x:				$grid-base;
$grid-base-2x:				$grid-base * 2;
$grid-base-3x:				$grid-base * 3;
$grid-base-4x:				$grid-base * 4;
$grid-base-5x:				$grid-base * 5;
$grid-base-6x:				$grid-base * 6;
$grid-standard:				$grid-base-3x;
$grid-block-spacing:	$grid-standard * 2;

// Font Sizes
$font-small-3:		8px;
$font-small-2:		10px;
$font-small-1:		12px;
$font-standard:		14px;
$font-normal-1:		16px;
$font-normal-2:		18px;
$font-big:				20px;
$font-big-1:			24px;
$font-big-2:			30px;
$font-title:			36px;
$font-title-1:		48px;
$font-title-2:		60px;
$font-maxima:			72px;

// Font Weights
$weight-hairline: 100;
$weight-light:    300;
$weight-normal:   400;
$weight-medium:   500;
$weight-heavy:    600;
$weight-bold:     700;
$weight-black:    900;

// Border Properties
$border-radius-standard: $grid-base;
$border-radius-small: $grid-base / 2;

// Timings
$animation-standard: 0.25s;

// Easings
$easing-smooth-ease-out: cubic-bezier(0.4, 1.03, 0.29, 0.99);

// Animations
$smooth-ease-out:		($animation-standard * 3) $easing-smooth-ease-out;
$quick-ease-out:		$animation-standard $easing-smooth-ease-out;

// Colors
$blue-dark-4:						hsl(205, 100%, 21%);
$blue-dark-3:						hsl(205, 87%, 29%);
$blue-dark-2:						hsl(205, 82%, 33%);
$blue-dark-1:						hsl(205, 76%, 39%);
$blue-standard:					hsl(205, 67%, 45%);
$blue-light-1:					hsl(205, 65%, 55%);
$blue-light-2:					hsl(205, 74%, 65%);
$blue-light-3:					hsl(205, 84%, 74%);
$blue-light-4:					hsl(205, 97%, 85%);
$blue-light-5:					hsl(205, 79%, 92%);

$yellow-dark-4:					hsl(15, 86%, 30%);
$yellow-dark-3:					hsl(22, 82%, 39%);
$yellow-dark-2:					hsl(29, 80%, 44%);
$yellow-dark-1:					hsl(36, 77%, 49%);
$yellow-standard:				hsl(42, 87%, 55%);
$yellow-light-1:				hsl(44, 92%,63%);
$yellow-light-2:				hsl(48, 94%, 68%);
$yellow-light-3:				hsl(48, 95%, 76%);
$yellow-light-4:				hsl(48, 100%, 88%);
$yellow-light-5:				hsl(49, 100%, 96%);

$blue-grey-dark-4:			hsl(209, 61%, 16%);
$blue-grey-dark-3:			hsl(211, 39%, 23%);
$blue-grey-dark-2:			hsl(209, 34%, 30%);
$blue-grey-dark-1:			hsl(209, 28%, 39%);
$blue-grey-standard:		hsl(210, 22%, 49%);
$blue-grey-light-1:			hsl(209, 23%, 60%);
$blue-grey-light-2:			hsl(211, 27%, 70%);
$blue-grey-light-3:			hsl(210, 31%, 80%);
$blue-grey-light-4:			hsl(212, 33%, 89%);
$blue-grey-light-5:			hsl(210, 36%, 96%);

$cyan-dark-4:						hsl(184, 91%, 17%);
$cyan-dark-3:						hsl(185, 84%, 25%);
$cyan-dark-2:						hsl(185, 81%, 29%);
$cyan-dark-1:						hsl(184, 77%, 34%);
$cyan-standard:					hsl(185, 62%, 45%);
$cyan-light-1:					hsl(185, 57%, 50%);
$cyan-light-2:					hsl(184, 65%, 59%);
$cyan-light-3:					hsl(184, 80%, 74%);
$cyan-light-4:					hsl(185, 94%, 87%);
$cyan-light-5:					hsl(186, 100%, 94%);

$red-dark-4:						hsl(360, 92%, 20%);
$red-dark-3:						hsl(360, 85%, 25%);
$red-dark-2:						hsl(360, 79%, 32%);
$red-dark-1:						hsl(360, 72%, 38%);
$red-standard:					hsl(360, 67%, 44%);
$red-light-1:						hsl(360, 64%, 55%);
$red-light-2:						hsl(360, 71%, 66%);
$red-light-3:						hsl(360, 77%, 78%);
$red-light-4:						hsl(360, 82%, 89%);
$red-light-5:						hsl(360, 100%, 97%);

$greyscale-dark-4:			#303030;
$greyscale-dark-3:			#686868;
$greyscale-dark-2:			#8D8D8D;
$greyscale-dark-1:			#A4A4A4;
$greyscale-standard:		#B6B6B6;
$greyscale-light-1:			#CBCBCB;
$greyscale-light-2:			#E0E0E0;
$greyscale-light-3:			#F0F0F0;
$greyscale-light-4:			#F3F3F3;
$greyscale-light-5:			#FAFAFA;

// Generic Colour Set
$green-1: 							#219653;
$green-2: 							#27ae60;
$green-3: 							#6fcf97;

// Z-Indices
$z--base:						0;
$z--sidebar:				1;
$z--search-overlay:	49;
$z--search:					50;
$z--modal:					100;
$z--toast:					20000;
$z--toast--active:	20001;
$z--maximum: 				2147483647;

// Box Shadows
@mixin shadow-1 { box-shadow: 0 $grid-base $grid-base rgba(0, 0, 0, 0.25); }
@mixin shadow-2 { box-shadow: 0 $grid-base $grid-base-3x rgba(0, 0, 0, 0.25), 0 2px $grid-base rgba(0, 0, 0, 0.25); }

// Selectors
$mui-element: ">div[class^='Mui'], >div[class^='jss']";
